<div class="help-container">
    <h1>דף עזרה</h1>
    <h4>מסכי הניהול (Dashboard)</h4>
    <p>
        מסכי הניהול הם מסכים המיועדים למשתמשים עם הרשאות ניהול או גישה מתקדמת יותר למערכת. במסכים אלו, המשתמשים יכולים לבצע מגוון פעולות לניהול ותחזוקת האפליקציה.
    </p>
    <ol>
        <li>סקירת נתונים: הצגת מידע סטטיסטי, כמו מספר נקודות שצבר המשתמש, מספר המשחקים ששוחקו, וזמנים שונים שקשורים לפעילות המשתמש.</li>
        <li>ניהול תוכן: הוספה, עריכה ומחיקה של קטגוריות ומילים במערכת, מה שמאפשר לעדכן ולתחזק את מאגר המילים.</li>
        <li>דוחות: הצגת דוחות וניתוחים של פעילות המשתמשים, אשר יכולים לסייע בהבנה ושיפור חוויית המשתמש.</li>
    </ol>
    
    <h4>מסכי המשחק (Game Screens)</h4>
    <p>
        מסכי המשחק הם המקום בו המשתמשים מקיימים את האינטראקציה המרכזית עם האפליקציה, בדגש על למידה ומשחקים.
    </p>
    <p>סוגי מסכי המשחק:</p>
    <ul>
        <li>בחירת קטגוריה: מסך זה מאפשר למשתמש לבחור קטגוריה מתוך רשימת קטגוריות קיימות, כאשר כל קטגוריה מכילה מילים שמיועדות ללמידה.</li>
        <li>משחק מיון מילים: במשחק זה, מוצגות למשתמש מילים והוא צריך למיין אותן לקטגוריות המתאימות.</li>
        <li>משחק מילים מבולגנות: כאן המשתמש צריך לסדר את אותיות המילה באנגלית לפי הסדר הנכון, תוך כדי הצגת התרגום בעברית.</li>
    </ul>
    
    <h4>תכונות עיקריות במסכי המשחק</h4>
    <p>
        <strong>אינטראקטיביות:</strong> שימוש באלמנטים אינטראקטיביים כמו גרפיקה וצלילים כדי לשפר את חוויית המשתמש ולהפוך את הלמידה למהנה יותר.
    </p>
    <p>
        <strong>התאמה אישית:</strong> התאמה אישית של תוכן המשחק בהתאם לרמת המשתמש ולתחומי העניין שלו.
    </p>
    <p>
        <strong>חיווי התקדמות:</strong> הצגת מדדים שונים המראים את התקדמות המשתמש, כמו מספר הנקודות שצבר או מספר המשחקים ששוחקו.
    </p>
</div>
