.exit-button {
  align-self: flex-start;
  display: flex;
  position: relative;
  left: -25%;
  font-weight: bold;
  width: auto;
}
.game-progress {
  display: flex;
}
.game-progress > span {
  display: inline-block;
  width: 1rem;
  border: 1px solid black;
  background-color: #BBB;
  margin: 2px;
  text-align: center;
}
:host {
  display: block;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}
mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}
button {
  padding: 0.5rem;
  width: 150px;
  font-size: 24px;
  cursor: pointer;
  border: 1px solid lightgray;
  margin-right: 10px;
}
.points-container {
  display: flex;
  justify-content: flex-end;
  width: 80%;
}
