h1 {
  text-align: center;
  margin-bottom: 3rem;
}
.grid {
  padding: 2rem;
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.card {
  padding: 1rem;
  max-width: 200px;
  min-height: 100px;
  border-radius: 1rem;
}
.card:first-child {
  background-color: rgb(111, 239, 237);
}

.card:nth-child(2) {
  background-color: rgb(139, 222, 139);
}

.card:hover {
  transition: 0.2s linear;
  transform: translateY(3px) scale(1.05);
  cursor: pointer;
}

.title {
  text-align: center;
}
.content {
  text-align: center;
}
