
h1 {
    text-align: center;
}
.grid {
    padding: 2rem;
    display:grid;
   
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.card {
    padding: 1rem;
    max-width: 200px;
    min-height: 100px;
    border-radius: 1rem;
}


.card:hover {
    transition: .2s linear;
    transform: translateY(3px) scale(1.05);
    
    cursor: pointer;
}

.title {
    text-align: center;
}
.content {
    text-align: center;
}
