<h1>Trivia- {{ category?.name }}</h1>

<div class="points-container">
  <app-points-game></app-points-game>
</div>

<div *ngIf="currentWord" class="game-container">
  <h2>{{ currentWord.origin }}</h2>
  <div class="options-container">
    <button *ngFor="let option of currentOptions" (click)="checkAnswer(option)">
      {{ option }}
    </button>
  </div>
</div>
<div>
  <mat-progress-bar
  mode="determinate"
  [value]="progressValue"
></mat-progress-bar>

  
</div>


<div *ngIf="!currentWord" class="game-over">
  <h2>המשחק הסתיים!</h2>
  <p>הניקוד הסופי שלך: {{ getGrade() }}</p>
</div>

<div class="controls">
  <button (click)="exit()">Exit</button>
  <button *ngIf="currentWord" (click)="nextWord()">מילה הבאה</button>
</div>
