<button mat-icon-button class="exit-button" (click)="exit()">
  <mat-icon>exit_to_app</mat-icon>
</button>

<div *ngIf="gameOver" class="container">
  <h1>Word Sorter - {{ currentCategory ? currentCategory.name : "" }}</h1>
  <p style="text-align: center">Grade: {{ getGrade() }}</p>
  <p>You guessed {{ correctAnswers.size }} out of 6 words successfully</p>

  <table class="table">
    <thead>
      <tr>
        <th>Origin</th>
        <th>Category</th>
        <th>Guess</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let word of usedWords">
        <td>{{ word.origin }}</td>
        <td>{{ getCategory(word) }}</td>
        <td>{{ correctAnswers.has(word) ? "Yes" : "No" }}</td>
      </tr>
    </tbody>
  </table>
  <br />
  <button mat-button class="new-game-button" (click)="newGame()">
    New Game
  </button>
</div>
<div *ngIf="!gameOver && currentCategory" class="container">
  <h1>Word Sorter - {{ currentCategory ? currentCategory.name : "" }}</h1>
  <div class="points-container">
    <app-points-game></app-points-game>
  </div>
  <p>
    is <b>{{ currentWord ? currentWord.origin : "" }}</b> part of
    <b>{{ currentCategory ? currentCategory.name : "" }}</b
    >?
  </p>

  <div class="buttons-container">
    <button [disabled]="gameOver" (click)="onYes()">Yes</button>
    <button [disabled]="gameOver" (click)="onNo()">No</button>
  </div>
  <br />
  <div
    style="
      position: relative;
      display: flex;
      align-items: center;
      width: 500px;
      justify-content: space-between;
    "
  >
    <div style="z-index: 100" class="level">{{ level }}</div>
    <mat-progress-bar
      mode="determinate"
      [value]="progressValue"
    ></mat-progress-bar>
    <div style="z-index: 100" class="level">6</div>
  </div>
</div>
