<div class="dashboard">
  <h1>Your learning:</h1>
  <div class="card-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Points</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ currentPoints }}</p>
      </mat-card-content>
    </mat-card>
    
    <mat-card>
      <mat-card-header>
        <mat-card-title>Games</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ Games }}</p>
      </mat-card-content>
    </mat-card>
    
    <mat-card>
      <mat-card-header>
        <mat-card-title>Categories Learned</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ categoriesLearned }}</p>
      </mat-card-content>
    </mat-card>
    
    <mat-card>
      <mat-card-header>
        <mat-card-title>Categories Remaining</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ categoriesRemaining }}</p>
      </mat-card-content>
    </mat-card>
    
    <mat-card>
      <mat-card-header>
        <mat-card-title> Perfect Games </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ perfectGamesPercentage }}%</p>
      </mat-card-content>
    </mat-card>
    
    <mat-card>
      <mat-card-header>
        <mat-card-title> Most Played Category  </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ mostPlayedCategory }}</p>
      </mat-card-content>
    </mat-card>
    
    <mat-card>
      <mat-card-header>
        <mat-card-title> Categories Learned Percentage </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ categoriesLearnedPercentage }}%</p>
      </mat-card-content>
    </mat-card>
    
    <mat-card>
      <mat-card-header>
        <mat-card-title> Monthly Challenge</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ monthlyChallenge }} / 20 משחקים</p>
        <p *ngIf="getRemainingGamesForChallenge() > 0">
          נשארו עוד {{ getRemainingGamesForChallenge() }} משחקים לסיום האתגר
        </p>
        <p *ngIf="getRemainingGamesForChallenge() === 0">
          Good! You have completed the monthly challenge        </p>
      </mat-card-content>
    </mat-card>
    
    <mat-card>
      <mat-card-header>
        <mat-card-title>Days Strike </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ getConsecutiveDaysMessage() }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>